---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Home from '../components/Home.astro';
import Nosotros from '../components/Nosotros.astro';
import Servicios from '../components/Servicios.astro';
import Publicaciones from '../components/Publicaciones.astro';
import Inmobiliaria from '../components/Inmobiliaria.astro';
import Contacto from '../components/Contacto.astro';
---

<Layout title="APR Grupo Abogados.">
	<main>
		<Home/>
		<Nosotros/>
		<Servicios/>
		<Publicaciones/>
		<Inmobiliaria/>
		<Contacto/>
	</main>
</Layout>

<style>

</style>

