<section id="contacto" class="encabezado grid w-full bg-black2">
    <div class="col-start-1 row-start-1 flex flex-1 w-full h-2/5 bg-black2 self-end flex-col"></div>
    <div class="col-start-1 row-start-1 flex flex-1 w-full h-full flex-col">
        <div class="h-[67px] bg-white"></div>
        <div class="px-3 md:px-0 w-full">
            <div class="w-full md:w-11/12 max-w-[1140px] mt-4 md:mt-16 m-auto grid grid-cols-1 md:grid-cols-2 gap-20">
                <div class="rounded-md overflow-hidden items-center">
                    <h1
                        class="montserrat text-4xl text-white font-semibold leading-[-1rem] md:leading-tight tracking-tight sm:text-5xl"
                    >
                        Solicite una Consulta
                    </h1>
                    <div class="flex mt-7">
                        <span class="w-[100px] h-[1px] bg-[#2B9CEE] block mb-[-2px]"></span>
                        <span class="w-full h-[1px] bg-[#6C6C6C] block mb-[-2px]"></span>
                    </div>

                    <p class="text-white pt-7 pb-5 montserrat">
                        Contáctenos y nuestro equipo le respondera sus consultas a la brevedad.
                    </p>

                    <form>
                        <div class="relative w-full mb-6 group">
                            <input
                                type="email"
                                name="floating_email"
                                id="floating_email"
                                class="rounded-lg px-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                                placeholder=" "
                                required
                            />
                            <label
                                for="floating_email"
                                class="bg-black2 px-3 ml-1 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 - origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >Nombre y Apellido</label
                            >
                        </div>
                        <div class="relative w-full mb-6 group">
                            <input
                                type="email"
                                name="floating_password"
                                id="floating_password"
                                class="rounded-lg px-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                                placeholder=" "
                                required
                            />
                            <label
                                for="floating_password"
                                class="bg-black2 px-3 ml-1 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 - origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >Email</label
                            >
                        </div>
                        <div class="relative w-full mb-6 group">
                            <input
                                type="password"
                                name="repeat_password"
                                id="floating_repeat_password"
                                class="rounded-lg px-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                                placeholder=" "
                                required
                            />
                            <label
                                for="floating_repeat_password"
                                class="bg-black2 px-3 ml-1 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 - origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >Teléfono</label
                            >
                        </div>
                        <div class="relative w-full mb-6 group">
                            <textarea
                                rows="8"
                                cols="33"
                                name="repeat_password"
                                id="message"
                                class="rounded-lg px-2 block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-teal-500 focus:outline-none focus:ring-0 focus:border-teal-600 peer"
                                placeholder=" "
                                required></textarea>
                            <label
                                for="message"
                                class="bg-black2 px-3 ml-1 peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 - origin-[0] peer-focus:left-0 peer-focus:text-teal-600 peer-focus:dark:text-teal-300 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
                                >Escribe tu consulta</label
                            >
                        </div>

                        <button
                            type="submit"
                            class="w-full max-w-[600px] text-white bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800"
                            >Enviar Mensaje</button
                        >
                    </form>
                </div>
                <div class="rounded-md overflow-hidden items-center pt-6 gap-12 flex flex-col">
                    <a
                        target="_blank"
                        href="https://www.google.com/maps/dir/?api=1&destination=-33.437851950541%2C-70.654782056808"
                        class="flex gap-4 items-center w-full"
                    >
                        <img src="./location.svg" width="30" alt="" />
                        <p class="text-white montserrat ml-4">
                            Doctor Sótero del Río 508 Oficina 1006, Santiago - Chile.
                        </p>
                    </a>
                    <span class="flex gap-4 items-center w-full">
                        <img src="./phone.svg" width="30" alt="" />
                        <p class="text-white montserrat ml-4">+56 2 24567150</p>
                    </span>
                    <span class="flex gap-4 items-center w-full">
                        <img src="./mail.svg" width="30" alt="" />
                        <p class="text-white montserrat ml-4">contacto@aprgrupoabogados.cl</p>
                    </span>
                    <span class="flex gap-4 items-center w-full">
                        <img src="./twitter.svg" width="32" alt="" />
                        <a href="https://twitter.com/apr_abogados_cl" class="text-white montserrat ml-4"
                            >@APR_Abogados_Cl</a
                        >
                    </span>
                    <span class="flex w-full">
                        <iframe
                            title="GoogleMap"
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.4488373578106!2d-70.65739442537256!3d-33.437611073394585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5a51b63b6b3%3A0xf20434902593373f!2sDr.%20Sotero%20del%20R%C3%ADo%20508%2C%208340297%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1683078124443!5m2!1ses!2scl"
                            width="100%"
                            height="280"
                            style="border:0;"
                            allowfullscreen=""
                            loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </span>
                </div>
            </div>
        </div>
        <div class="h-[68px]"></div>
    </div>
</section>

<footer class="bg-black2 flex">
    <div class="px-3 md:px-0 w-full">
        <div class="w-full md:w-10/12 max-w-[1140px] mt-4 mb-10 md:my-16 m-auto flex flex-col items-center gap-10">
            <img class="flex" src="./logo2.svg" width="250" alt="" />
           
        </div>

        <div
            class="w-full md:w-11/12 max-w-[1140px] text-white py-4 m-auto flex flex-row justify-center border-t-[1px] border-[#6C6C6C]"
        >
            <span class="margin-auto flex"> © 2008 - 2023</span>
        </div>
    </div>
</footer>
