<section
    id="Home"
    style="background-image:url('./bg3.jpg')"
    class="encabezado bg-front bg-[70%] grid w-full items-center bg-no-repeat bg-cover realative">
    <div class="col-start-1 row-start-1 h-screen md:block 3xl:hidden"></div>
    <div class="col-start-1 row-start-1 flex flex-1 w-full h-full flex-col">
        <div class="h-[93px]"></div>
        <div class="py-[7%] px-5 flex flex-1 w-full items-center relative">
            <div class="w-full md:w-11/12 max-w-[1280px] m-auto">
                <div class="md:w-7/12 text-black text-center md:text-left">
                    <p
                        class="md:pt-0 manrope text-center md:text-left text-sm sm:text-sm font-light italic text-[#CD5F3A] md:text-black-2"
                    >
                        Estudio Juridico
                    </p>
                    <h1
                        class="mt-5 montserrat text-2xl font-semibold !leading-[-1rem] !md:leading-tight tracking-tight sm:text-6xl"
                    >
                        APR Abogados 3
                    </h1>
                    <p
                        class="pt-7 manrope text-center md:text-left text-sm sm:text-lg font-medium md:pr-0 lg:pr-24 text-black md:text-black-2"
                    >
                    Somos un equipo de abogados especializados en derecho de quiebras y reestructuración financiera comprometidos en brindarte el asesoramiento legal que necesitas.
                    </p>
                    <div class="flex-col md:flex-row m-auto md:mx-0 p-2 md:p-0 flex gap-4 max-w-[190px] my-8 md:mb-0">
                        <a
                            href="#nosotros"
                            class="font-normal text-lg rounded-lg text-center px-2 py-2 w-full bg-gradient-to-b from-teal-700 to-teal-900 text-white"
                        >
                            Conócenos
                        </a>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 right-0 left-0 p-10 md:px-14 w-full">
                <a href="https://wa.me/56224567150"
                    ><img
                        width="220"
                        src="/whatsapp.svg"
                        alt=""
                        class="float-right"
                        aria-label="Contactar por whatsaap"
                    /></a
                >
            </div>
        </div>
        <div class="h-[48px] bg-white drop-shadow-[0_-5px_2px_rgba(0,0,0,0.07)] relative">

        </div>
    </div>
    
</section>

<style>
    .background-custom {
        background-image: linear-gradient(90deg, white 50%, #ffffff00 90%);
    }
</style>
