---
import InmobiliariaItem from "./InmobiliariaItem.astro";
import Section from "../layouts/Section.astro";
const inmobiliaria = [
    {
        title: "Casas y Departamentos.",
        description: "Viviendas en venta o arriendo",
        img: "./casa.jpg",
    },
    {
        title: "Comerciales",
        description: "Oficinas, Negocios u otros con fin comercial",
        img: "./oficinas.jpg",
    },
    {
        title: "Terrenos y otros",
        description: "Terrenos rurales y para construcción",
        img: "./rurales.jpg",
    },
    
];
---

<Section id="Inmobiliaria" title="PORTAFOLIO INMOBILIARIO" description="Propiedades en Venta o Arriendo">
    <div class="pt-8 md:w-12/12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-10">
        {
            inmobiliaria.map((servicio) => (
                <InmobiliariaItem title={servicio.title} description={servicio.description} img={servicio.img} />
            ))
        }
    </div>
</Section>