---
export interface Props {
    id: string;
    title: string;
    imgs: string[];
}
const { id, title, imgs } = Astro.props;
// console.log(id)
---

<div id={id} onclick={'modal("' + id + '")'} class="modal transition flex duration-1000 h-full overflow-auto">
    <div
        class="bg-black justify-center flex-col w-full max-w-[800px] m-auto cursor-auto drop-shadow-xl rounded-md"
        onclick="
        event.cancelBubble = true; if (event.stopPropagation) event.stopPropagation();
        "
    >
        <div
            class="flex p-5 fixed right-0 top-0 bg-white rounded-full drop-shadow-md md:drop-shadow-none cursor-pointer zindex"
        >
            <img onclick={'modal("' + id + '")'} width="30px" src="./img/close.svg" alt="" />
        </div>
        <div class="md:px-0 montserrat w-full flex">
            <div class="w-full m-auto flex items-center flex-col md:flex-row">
                <div class="text-left mt-5 md:mt-0 flex-col w-full">
                    <h1
                        class="montserrat text-white text-lg font-semibold leading-[-1rem] !md:leading-tight tracking-tight sm:text-xl pl-2"
                    >
                        {title}
                    </h1>

                    <div class="splide" id={id} aria-label="Splide Basic HTML Example">
                        <div class="splide__track pb-10">
                            <ul class="splide__list">
                                {
                                    imgs.map((item) => (
                                        <li class="splide__slide">
                                            <div
                                                style={`background-image:url('` + item + `')`}
                                                class="w-full aspect-[5/3] bg-no-repeat bg-cover bg-[50%]"
                                            />
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
