---
export interface Props {
	title: string;
}
const { title } = Astro.props;
---

<li>
    <a
        class="text-gray-900 manrope md:hover:bg-teal-800 md:hover:text-white md:bg-transparent duration-100 block py-4 px-4 md:border-b-[3px] md:pt-5 md:pb-4 border-transparent text-lg"
        href={"#"+title}>{title}</a>
</li>