---
import ServiceItem from "./ServiceItem.astro";
import ServiceItem2 from "./PublicacionesItem.astro";
import PublicacionesItem from "./PublicacionesItem.astro";
import Section from "../layouts/Section.astro";
const servicios = [
    {
        title: "Quiebra tus deudas.",
        description: "El tema de las deudas y la búsqueda de soluciones legales para aliviar su carga es de gran importancia tanto para personas naturales como para empresas en Chile. ",
        img: "/blog-1.webp",
    },
    {
        title: "¡Estamos contigo!",
        description: "Como abogados comprometidos con brindarles un servicio eficiente y accesible, nos complace informarles que hemos ampliado nuestros canales de comunicación",
        img: "/blog-2.webp",
    },
    {
        title: "¿El Dinero ya no alcanza?",
        description:'Es un placer proporcionarte información sobre los requisitos para declararte en insolvencia en el país. La insolvencia, también conocida como "quiebra"',
        img: "/blog-3.webp",
    },
    
];
---

<Section id="actualidad" title="Publicaciones de actualidad legal APR Grupo Abogados" description="Conozca las últimas publicaciones y noticias de interés preparadas por nuestro estudio jurídico.">
    <div class="pt-8 md:w-12/12 m-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-16">
        {
            servicios.map((servicio) => (
                <PublicacionesItem title={servicio.title} description={servicio.description} img={servicio.img} />
                ))
            }
            </div>
</Section>
